@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Inter", sans-serif;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: hsl(244, 37%, 16%);
  width: 70%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 10px;
}

section .whrite {
  width: 90%;
}

section .whrite .head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 5.5em;
}

section .whrite .head h1 {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 1em;
}

section .whrite .head h1 span {
  color: hsl(277, 64%, 61%);
}

section .whrite .head p {
  color:  hsla(0, 0%, 100%, 0.75);
  width: 100%;
  font-weight: 200;
  margin-bottom: 5em;
  line-height: 1.7;
}

section .stats-container {
  width: 570px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}


section .stats-container .number {
  display: block;
  text-align: center;
  font-size: 1.4em;
  font-weight: 700;
  text-transform: uppercase;
}

section .stats-container .label {
  font-size: 14px;
  font-weight: 0;
  color: hsla(0, 0%, 100%, 0.75);
  text-transform: uppercase;
}

section .img {
  width: 100%;
  height: 100%;
  background-image: 
  linear-gradient(to right, hsl(277, 64%, 61%, 0.5)),
  url(../images/image-header-mobile.jpg)
  ;
  background-size: cover;
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 10px;
}

@media (max-width:375px) {
  body {
    background-color: hsl(233, 47%, 7%);
  }
  section {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section .whrite {
    width: 90%;
    height: 70%;
  }
  section .whrite .head {
    margin-left: 1em;
  }
  section .whrite .head h1 {
    margin-top: 1.5em;
    font-size: 25px;
    text-align: center;
  }
  section .whrite .head p {
    word-break: break-word;
    text-align: center;
  }
  section .stats-container {
    height: 300px;
    flex-direction: column;
    margin: -80px -130px;
  }
  section .img {
    width: 100%;
    height: 30%;
    order: -1;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
}
